FLUXO_N8N_CORRIGIDO.json
{
  "name": "✅ Fluxo CEUSIA CRM - CORRIGIDO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [320, 256],
      "id": "webhook-evolution-api",
      "name": "Webhook Evolution API",
      "webhookId": "webhook-ceusia-crm"
    },
    {
      "parameters": {
        "functionCode": "const msg = $json;\nlet numero = \"\";\nlet mensagem = \"\";\nlet nome_contato = \"\";\n\ntry {\n  // Extrai número de várias possíveis estruturas\n  numero = msg.from || msg.numero || \n    (msg.data && (msg.data.from || (msg.data.key && msg.data.key.remoteJid))) || \"\";\n  \n  // Extrai nome do contato\n  nome_contato = msg.pushName || msg.nome || \n    (msg.data && (msg.data.pushName || msg.data.senderName)) || \"Desconhecido\";\n  \n  // Extrai mensagem de texto\n  if (msg.mensagem) {\n    mensagem = msg.mensagem;\n  } else if (msg.body) {\n    mensagem = msg.body;\n  } else if (msg.message && msg.message.conversation) {\n    mensagem = msg.message.conversation;\n  } else if (msg.message && msg.message.extendedTextMessage && msg.message.extendedTextMessage.text) {\n    mensagem = msg.message.extendedTextMessage.text;\n  } else if (msg.data && msg.data.message && typeof msg.data.message === \"string\") {\n    mensagem = msg.data.message;\n  } else if (msg.data && msg.data.body) {\n    mensagem = msg.data.body;\n  } else {\n    mensagem = \"Mensagem sem texto\";\n  }\n} catch(err) {\n  console.error('Erro ao extrair dados:', err);\n  mensagem = msg.mensagem || msg.body || \"Erro ao processar mensagem\";\n}\n\n// Limpa o número\nnumero = String(numero).trim();\n\n// Define tipo de mensagem\nlet tipo_mensagem = \"texto\";\nif (msg.message && msg.message.imageMessage) tipo_mensagem = \"imagem\";\nif (msg.message && msg.message.videoMessage) tipo_mensagem = \"video\";\nif (msg.message && msg.message.documentMessage) tipo_mensagem = \"documento\";\n\nreturn [{\n  numero: numero,\n  mensagem: mensagem,\n  nome_contato: nome_contato,\n  origem: \"whatsapp\",\n  tipo_mensagem: tipo_mensagem\n}];"
      },
      "name": "Normalizar Dados Evolution API",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [560, 256],
      "id": "normalize-function"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "numero",
              "value": "={{$json.numero}}"
            },
            {
              "name": "mensagem",
              "value": "={{$json.mensagem}}"
            },
            {
              "name": "nome_contato",
              "value": "={{$json.nome_contato}}"
            },
            {
              "name": "origem",
              "value": "whatsapp"
            },
            {
              "name": "tipo_mensagem",
              "value": "={{$json.tipo_mensagem}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Padronizar Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [800, 256],
      "id": "set-fields",
      "notes": "⚠️ IMPORTANTE: No N8n v1, o Set já interpreta ={{}} corretamente em modo Expression"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dteppsfseusqixuppglh.supabase.co/functions/v1/webhook-conversas",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"numero\": \"{{ $json.numero }}\",\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"origem\": \"{{ $json.origem }}\",\n  \"tipo_mensagem\": \"{{ $json.tipo_mensagem }}\",\n  \"nome_contato\": \"{{ $json.nome_contato }}\"\n}",
        "headerParametersJson": "={\n  \"Content-Type\": \"application/json\"\n}"
      },
      "name": "Enviar para CEUSIA CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 256],
      "id": "send-to-crm",
      "notes": "✅ CORRIGIDO: Usando {{ }} com espaços (não ={{}})"
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Normalizar Dados Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Dados Evolution API": {
      "main": [
        [
          {
            "node": "Padronizar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padronizar Campos": {
      "main": [
        [
          {
            "node": "Enviar para CEUSIA CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "CEUSIA",
      "id": "ceusia-crm"
    },
    {
      "name": "WhatsApp",
      "id": "whatsapp"
    }
  ]
}
