FLUXO_N8N_PRONTO_PARA_IMPORTAR.json
{
  "name": "✅ CEUSIA CRM - Fluxo Corrigido e Validado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [320, 256],
      "id": "webhook-evolution-api",
      "name": "Webhook Evolution API",
      "webhookId": "webhook-ceusia-crm"
    },
    {
      "parameters": {
        "functionCode": "const msg = $json;\n\nfunction toSafeString(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"object\") {\n    if (value.conversation) return String(value.conversation).trim();\n    if (value.text) return String(value.text).trim();\n    if (value.caption) return String(value.caption).trim();\n    return \"\";\n  }\n  return String(value).trim();\n}\n\nlet numero = \"\";\ntry {\n  numero = msg.from || msg.numero || (msg.data && msg.data.from) || (msg.data && msg.data.key && msg.data.key.remoteJid) || \"\";\n  numero = toSafeString(numero);\n} catch (e) {\n  numero = \"\";\n}\n\nlet mensagem = \"\";\ntry {\n  if (msg.mensagem) {\n    mensagem = toSafeString(msg.mensagem);\n  } else if (msg.body) {\n    mensagem = toSafeString(msg.body);\n  } else if (msg.message) {\n    if (msg.message.conversation) {\n      mensagem = toSafeString(msg.message.conversation);\n    } else if (msg.message.extendedTextMessage && msg.message.extendedTextMessage.text) {\n      mensagem = toSafeString(msg.message.extendedTextMessage.text);\n    } else if (msg.message.imageMessage && msg.message.imageMessage.caption) {\n      mensagem = toSafeString(msg.message.imageMessage.caption) || \"Imagem enviada\";\n    } else if (msg.message.videoMessage && msg.message.videoMessage.caption) {\n      mensagem = toSafeString(msg.message.videoMessage.caption) || \"Vídeo enviado\";\n    } else {\n      mensagem = \"Mensagem recebida\";\n    }\n  } else if (msg.data && msg.data.message) {\n    mensagem = toSafeString(msg.data.message);\n  } else {\n    mensagem = \"Mensagem sem conteúdo\";\n  }\n  if (mensagem === \"\" || mensagem === \"[object Object]\") {\n    mensagem = \"Mensagem recebida\";\n  }\n} catch (e) {\n  mensagem = \"Erro ao processar mensagem\";\n}\n\nlet nome_contato = \"\";\ntry {\n  nome_contato = msg.pushName || msg.nome || (msg.data && msg.data.pushName) || \"Desconhecido\";\n  nome_contato = toSafeString(nome_contato);\n  if (nome_contato === \"\") nome_contato = \"Desconhecido\";\n} catch (e) {\n  nome_contato = \"Desconhecido\";\n}\n\nlet tipo_mensagem = \"texto\";\ntry {\n  if (msg.message) {\n    if (msg.message.imageMessage) tipo_mensagem = \"imagem\";\n    else if (msg.message.videoMessage) tipo_mensagem = \"video\";\n    else if (msg.message.audioMessage) tipo_mensagem = \"audio\";\n    else if (msg.message.documentMessage) tipo_mensagem = \"documento\";\n  }\n} catch (e) {\n  tipo_mensagem = \"texto\";\n}\n\nconst resultado = {\n  numero: String(numero).trim() || \"numero_invalido\",\n  mensagem: String(mensagem).trim() || \"mensagem_vazia\",\n  nome_contato: String(nome_contato).trim() || \"Desconhecido\",\n  origem: \"whatsapp\",\n  tipo_mensagem: String(tipo_mensagem).trim() || \"texto\"\n};\n\nconsole.log(\"✅ Dados extraídos:\", resultado);\n\nreturn [resultado];"
      },
      "name": "Normalizar Dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [560, 256],
      "id": "normalize-function"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "numero",
              "name": "numero",
              "type": "string",
              "value": "={{ $json.numero }}"
            },
            {
              "id": "mensagem",
              "name": "mensagem",
              "type": "string",
              "value": "={{ $json.mensagem }}"
            },
            {
              "id": "nome_contato",
              "name": "nome_contato",
              "type": "string",
              "value": "={{ $json.nome_contato }}"
            },
            {
              "id": "origem",
              "name": "origem",
              "type": "string",
              "value": "whatsapp"
            },
            {
              "id": "tipo_mensagem",
              "name": "tipo_mensagem",
              "type": "string",
              "value": "={{ $json.tipo_mensagem }}"
            }
          ]
        }
      },
      "name": "Padronizar Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [800, 256],
      "id": "set-fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dteppsfseusqixuppglh.supabase.co/functions/v1/webhook-conversas",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"numero\": \"{{ $json.numero }}\",\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"origem\": \"{{ $json.origem }}\",\n  \"tipo_mensagem\": \"{{ $json.tipo_mensagem }}\",\n  \"nome_contato\": \"{{ $json.nome_contato }}\"\n}",
        "headerParametersJson": "={\n  \"Content-Type\": \"application/json\"\n}"
      },
      "name": "Enviar para CEUSIA CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 256],
      "id": "send-to-crm"
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Dados": {
      "main": [
        [
          {
            "node": "Padronizar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padronizar Campos": {
      "main": [
        [
          {
            "node": "Enviar para CEUSIA CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ceusia-crm-lovable"
  },
  "tags": [
    {
      "name": "CEUSIA CRM",
      "id": "ceusia-crm"
    },
    {
      "name": "WhatsApp",
      "id": "whatsapp"
    },
    {
      "name": "Validado",
      "id": "validado"
    }
  ]
}
